{% extends 'base.html.twig' %}

{% block title %}New Sampana{% endblock %}

{% block body %}
    <h1  style="text-align: center; text-decoration: underline; font-weight: bold; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;">Sampana Vaovao</h1>

    {{ include('sampana/_form.html.twig') }}


{% endblock %}
