{% extends 'base.html.twig' %}

{% block title %}Hapiditra Vaovao{% endblock %}

{% block body %}
    <h1 style="text-align: center; text-decoration: underline; font-weight: bold; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;">Vaovao</h1>

    {{ include('vaovao/_form.html.twig') }}

    <a class="btn btn-success btn-lg btn-block" href="{{ path('vaovao_index') }}" style="margin-top: 10px;">Iverina</a>
{% endblock %}
