{% extends 'base.html.twig' %}

{% block title %}Hapiditra Vaovao{% endblock %}

{% block body %}
<body>
    <h1 style="text-align: center; text-decoration: underline; font-weight: bold; font-family: 'Arial Black'; color: #710193; margin-top: 20px; margin-bottom: 20px;">Vaovao</h1>

    {{ include('vaovao/_form.html.twig') }}
<body>

{% endblock %}
