{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}

  <body style="background: url(/images/bg3.jpg) no-repeat center;">
  <center>
      <h2 style="color: #ffffff; margin-bottom: 250px; font-family:'Arial Black'; font-weight: bold; text-shadow: 3px 2px 5px #EE82EE;">"ARY NY MASOKO SY NY FOKO HO AO MANDRAKARIVA"<br>
          II Tantara 7:16 </h2>
      <h3></h3>
  </center>

  </body>

{% endblock %}