<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
    <title>login</title>
</head>
<style>
    body{
        background: url(/images/bg2.jpg) no-repeat center;
    }
    center h3{
        text-align: center;
        color:white;
        margin-top: 100px;
        font-family: "Arial Black";
        text-decoration: underline;
        font-weight: bold;
    }
    center p{
        text-align: center;
        color:white;
        font-family: "Arial";
    }
    form {
        margin:0 auto;
        width: 20%;
        background-color:white;
        padding: 0px 30px 50px 30px;
        margin-top: 20px;
        text-align: center;
        color: #000000;
        border: 8px solid #710193;
        border-radius: 10px;
    }
    table {
        width: 100%;
        color: #000000;
        text-align: center;
    }
    h4{
        margin-top: 10px;
        text-align: center;
        color:#000000;
        font-family: "Arial Black";
        border-bottom: 2px solid #710193;
        font-weight: bold;
    }
    input {
        width: 100%;
        height: 40px;
        padding: 10px;
        color: #000000;
        font-size: 15px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #000000;
        margin-bottom: 20px;
    }
    button {
        width: 40%;
        height: 40px;
        font-size: 17px;
        color:#710193;
        background: white;
        border-radius: 10px;
        border: 2px solid #710193;
        font-family: "Arial Black";
        font-weight: bold;
    }
    button:hover{
        background:#710193;
        color: white;
    }

</style>
<body>
<center>
 <h3><b>MPANDRINDRA</b></h3>
 <p>Tongasoa Indray!</p>
    {% if app.user %}
    <script>window.location.href = "/"</script>
    {% endif %}
    {% if error %}
        {#{{ error.messageKey | trans(error.messagedata, 'security') }}#}
        <p>Admin invalid</p>
    {% endif %}
    <form action="" method="post">
        <h4>FIDIRANA</h4>
        <table>
            <tr>
                <td><label for="username">Solonanarana:</label></td>
                <td><input type="text" name="_username" value="{{ last_username }}" placeholder="Solona..."></td>
            </tr><br>
            <tr>
                <td><label for="password">Tenimiafina:</label></td>
                <td><input type="password" name="_password" placeholder="Tenimi..."></td>
            </tr>
        </table>
        <button type="submit">Hiditra</button>
    </form>
</center>
</body>
</html>